{% extends "menu.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="page">

{% if bg %}
	<h1> Танцов състав Родина </h1>
	<br>
	<h2> Танцувайте с нас! </h2>
		<p> Танцов състав Родина репетира всеки четвъртък в Гатино. Срещу 90$ на година и вие можете да се докоснете до невероятното българско фолклорно наследство.</p>
	<h2> История </h2>
	<p>  Любовта към богатото културно наследство и красотата на българските народни танци и песни обединява членовете на ансамбъла. Той бе създаден през есента на 2000 година от ентусиазирана и всеотдайна група, които и до днес отделят много от личното си време за да популяризират изкуството на българските народни танци.</p>

	<p>За последните няколко години ансамбълът е натрупал богат репертоар, който включва танци от различни етнографски райони в България: игривостта на Мизия, бързи като вятъра ритми на Шоплука, страстната топлосърдечност на слънчева Тракия, романтичния бунтарски дух на Пирин планина.</p>

	<p>Родина се е представяла с много голям успех на многобройни културни и социални мероприятия в Отава – Гатино, Монреал и Торонто. Костюмите, правени на ръка от членовете на ансамбъла разкриват майсторството и въображението на българката и нейното чувство за красота, оригиналност и хармония.</p>

	<p>Българската душа сякаш се изпълва от тези танци, подвижно отражение на историята на народа. Песни и танци отразяват душевната красотата и доброта на българския народ.</p>
	
<h2> Ръководител </h2>
	<p> Рени Стаматова</p>
			
{%else%}	
{% if en %}
<h1> Bulgarian Dance Troupe 'Rodina'</h1>
<br>
<h2> Choreographer </h2>
<p>Reni Stamatova </p>
{% else %}
<h1> Ensemble de danse 'Rodina' </h1>
<br>
<h2> Choreographe </h2>
	<p> Reni Stamatova </p>
			






{%endif%}

{%endif%}
</div>

{% endblock %}